<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Home Page</title>
</head>
<body>
	<div style="background-color:grey;color:yellow">Server is running</div>
	<p>Form
		<form method="post" action="/">
			<input name="title" type="text"/>
			<button type="submit">Send</button>
		</form>
	</p>
	<a href="/about">About page</a>

	<hr>
	<a href="/api/users">API (get users)</a>
</body>
</html>
